body {
    background-color: lightgray;
    color: white;
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin: 120px;
}

.w-100{
    width: 100%;
}

.jaro-regular {
    font-family: "Jaro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
p{
    font-size: 24px;
    line-height: 34px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    background-color: black;
}

h1 {
    font-size: 76px;
    font-family: "Jaro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h2{
    font-size: 48px;
    line-height: 54px;
}

.city-wrapper {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    background-color: rgb(21, 21, 143);
    padding: 50px;
}

.city-img {
    width: 40%;
}

.city-text {
    width: 60%;
}


.cities-section {
    margin-top: 120px;
}

.london-links a {
    color: red;
    background-color: transparent;
}
